# Assignment 2: Data Cleaning
## Author: Kush!

In [2]:
# Find working directory
import os
path = os.getcwd()
print(path)

/Users/kush/Python

In [4]:
# Import necessary packages: pandas
import pandas as pd
# Remove scientific notations:
pd.options.display.float_format = '{:.4f}'.format
# Remove unncessary warnings from Pandas on this particular assignment
pd.options.mode.chained_assignment = None

## Import Data Set
- Import the data set "StudentSurvey.csv" from Canvas and call this object "data"

In [6]:
# Import data
data = pd.read_csv("/Users/kush/Data/StudentSurvey.csv")
# Check data's information
data.head()

,year,sex,gender_ident,age,Ethnicity,Country,State,GPA,SAT,HSGPA,...,q67,q68,q69,q70,q71,q72,q73,q74,q75,q76
0,5,Male,Male,22,More than one race.,Costa Rica,INT,3.5,31,3.49,...,Yes,10000,25.0000,3.0000,0.0000,Off,3,4,20,9.0000
1,5,Male,Male,22,More than one race.,United States,WASHINGTON,3.35,1340,3.9,...,Yes,20000,12.0000,2.0000,12000.0000,On,7,3,12,10.0000
2,Senior,Male,Male,22,Asian,India,Maharashtra,3.3,1400,3.3,...,Yes,"$5,000",6.0000,3.0000,0.0000,Off,1,2,2 /month\n\n8,7.0000
3,4,Female,Female,21,Asian,United States,Georgia,3.6,1540,4,...,Yes,2000,2.0000,2.0000,10000.0000,Off,7,1,2,1.0000
4,3,Male,Male,23,Asian,Korea,INT,3.5,1360,3.7,...,Yes,20000,16.0000,3.0000,0.0000,Off,0,0,10,5.0000

## Data Cleaning and Summary Statistics
- Create a new object **survey** by selecting/filtering the variables that you see below:
 * sex
 * q37: Hours spent at office hours a week
 * q50: Number of books read in a semester
 * q58: Expected salary after graduation
- Clean the variables 
- Show the summary statistics of the variables

In [8]:
# Create a data frame called "survey" to store the selected variables 
survey = pd.DataFrame(data)
# Browse some observations of the data frame "survey"
print(survey)

       year     sex gender_ident  age            Ethnicity        Country  \
0         5    Male         Male   22  More than one race.     Costa Rica
1         5    Male         Male   22  More than one race.  United States
2    Senior    Male         Male  22                 Asian          India
3         4  Female       Female   21                Asian  United States
4         3    Male         Male   23                Asian          Korea
..      ...     ...          ...  ...                  ...            ...
96     2023  Female       Female   20                Asian          China
97     2023    Male         Male   21                Asian          China
98        1  Female       Female   19                Asian          China
99        3    Male         Male   21                Asian          China
100    2023    Male         Male   20                Asian  United States

             State   GPA   SAT HSGPA  ...  q67      q68     q69    q70  \
0              INT   3.5    31  3.49  ...  Yes    10000 25.0000 3.0000
1       WASHINGTON  3.35  1340   3.9  ...  Yes    20000 12.0000 2.0000
2      Maharashtra   3.3  1400   3.3  ...  Yes  $5,000   6.0000 3.0000
3         Georgia    3.6  1540     4  ...  Yes     2000  2.0000 2.0000
4              INT   3.5  1360   3.7  ...  Yes    20000 16.0000 3.0000
..             ...   ...   ...   ...  ...  ...      ...     ...    ...
96             INT   3.6  1520   3.9  ...   No        0 10.0000 3.0000
97              MD  3.78  1450  3.59  ...  Yes    80000  9.0000 2.0000
98             INT     4  1440     4  ...  Yes    45000  7.0000 2.0000
99          Shanxi  3.95  1430   3.9  ...  Yes     5000  2.0000 2.0000
100  Massachusetts   3.8  1420  3.72  ...  Yes     8000  1.0000 3.0000

           q71  q72  q73  q74            q75     q76
0       0.0000  Off    3    4             20  9.0000
1   12000.0000   On    7    3             12 10.0000
2       0.0000  Off    1    2  2 /month\n\n8  7.0000
3   10000.0000  Off    7    1              2  1.0000
4       0.0000  Off    0    0             10  5.0000
..         ...  ...  ...  ...            ...     ...
96      0.0000  Off    1    0              2  8.0000
97      0.0000  Off    2    0              1  7.0000
98      0.0000  Off    0    0              2  8.0000
99      0.0000  Off    3    7              1  1.0000
100 10000.0000   On    0    0              1  9.0000

[101 rows x 76 columns]

### Data Cleaning

In [16]:
### Clean variable "q37": Hours spent at office hours a week
# by replacing some observations
# Inspect
data['q37'].value_counts(dropna=False)
# Clean
data['q37'] = data['q37'].replace('2 hours','2')
data['q37'] = data['q37'].replace('1 hour','1')
# Check
data['q37'].value_counts(dropna = False)

q37
1      34
0      29
2      20
3       7
4       3
1.5     2
0.5     2
5       1
2.5     1
NaN     1
0.4     1
Name: count, dtype: int64

In [18]:
# Convert "q37" from string to float
data['q37'] = data['q37'].astype('float')
data['q37'].dtypes

dtype('float64')

In [22]:
### Clean variable "q50": Number of books read in a semester"
# by dropping any strange observation
# Inspect
data['q50'].value_counts(dropna=False)
# Clean
data['q50'] = data['q50'].replace('2-Jan','2')
# Check
data['q50'].value_counts(dropna=False)

q50
2      22
3      17
5      16
4      12
0      10
1       9
6       2
8       2
30      2
20      2
10      2
25      1
15      1
7       1
NaN     1
9       1
Name: count, dtype: int64

In [24]:
# Convert "q50" from string to float
data['q50'] = data['q50'].astype('float')
data['q50'].dtypes

dtype('float64')

In [62]:
# Clean variable "q58": Expected salaries after graduation
# Inspect
data['q58'].value_counts(dropna=False)
# Hint: remove potential spaces
data['q58'] = data['q58'].replace(' ','',regex = True)
# Keep cleaning
data['q58'] = data['q58'].replace(',','',regex = True)
# Replace some observations
data['q58'] = data['q58'].replace('-','0',regex = True)
# Drop some observations
data['q58'] = data['q58'].astype(str).str.strip()
strange = data[data['q58']=="NOIDEA"]
data = data.drop(strange.index)
strange = data[data['q58']=="nan"]
data = data.drop(strange.index)
# Check
data['q58'].value_counts(dropna=False)

q58
50000     15
70000     12
100000    12
75000      9
60000      7
0          6
20000      4
80000      4
90000      3
30000      3
120000     3
150000     2
10000      2
40000      2
85000      2
77255      1
130000     1
4000       1
8000       1
56000      1
65000      1
77500      1
22000      1
57000      1
110000     1
140000     1
18000      1
7000       1
Name: count, dtype: int64

In [64]:
# Convert "q58" from string to float
data['q58'] = data['q58'].astype('float')
data['q58'].dtypes

dtype('float64')

In [70]:
# Convert "sex" into a categorical variable
data['sex'] = data['sex'].astype('category')

## Adding Variables
Create a few new variables and incorporate them into your dataframe. 
- "office_dweller" variable to indicate if a person spends **2 hours or more** at office hours per week
- "book_lover" variable to indicate if a person reads **more than 2 books** a semester

In [74]:
# Create variable "office_dweller"
import numpy as np
data['office_dweller'] = np.where(data['q37'] >= 2, 'Yes', 'No')
# Create variable "book_lover"
data['book_lover'] = np.where(data['q50'] > 2, 'Yes', 'No')
# Convert them to integers
data['office_dweller'] = np.where(data['office_dweller'] == 'Yes', 1, 0)
data['book_lover'] = np.where(data['book_lover'] == 'Yes', 1, 0)

### Variabe Renaming
- Rename these variables so that it is easier for readers to understand the summary statistics:
 * q37 $\rightarrow$ office_hrs
 * q50 $\rightarrow$ books
 * q58 $\rightarrow$ exp_salaries
- Hint: search Google and Stack Overflow on how to perform this

In [76]:
# Rename variables
# Rename variables using .rename() function
data = data.rename(columns={
    'q37': 'office_hrs',       # Rename q37 to office_hrs
    'q50': 'books',            # Rename q50 to books
    'q58': 'exp_salaries'      # Rename q58 to exp_salaries
})

## Summary Statistics
Provide summary statistics (mean, standard deviation, min, max, count) for "office_hrs", "books", "exp_salaries", "office_dweller", and "book_lover"

In [80]:
# Use the function .agg() to do this
summary_stats = data[['office_hrs', 'books', 'exp_salaries', 'office_dweller', 'book_lover']].agg(['mean', 'std', 'min', 'max', 'count'])
print(summary_stats)

       office_hrs   books  exp_salaries  office_dweller  book_lover
mean       1.2010  4.3737    64108.6364          0.3232      0.5859
std        1.1001  5.4578    34643.1924          0.4701      0.4951
min        0.0000  0.0000        0.0000          0.0000      0.0000
max        5.0000 30.0000   150000.0000          1.0000      1.0000
count     99.0000 99.0000       99.0000         99.0000     99.0000

## Expected Salaries by Group
Now let's look at how expected salaries after graduation differ by male and female.

In [90]:
# Use the .groupby() and .agg() method to split the sample by sex
# and provide the mean for the expected salaries
mean_exp_salaries_by_sex = data.groupby('sex', observed = False)['exp_salaries'].agg(['mean'])
print(mean_exp_salaries_by_sex)

             mean
sex
Female 56916.6667
Male   69407.9825