# Day 11: Lambda Expression
## Author: Kush Mehta

In [3]:
# Find working directory on your local computer; yours will be different from mine
import os
path = os.getcwd()
print(path)

/Users/kush/Python

In [5]:
# Import necessary packages
import pandas as pd

In [11]:
# Import Data
birth = pd.read_csv("/Users/kush/Data/BirthdataNC.csv")

## Function vs. lambda Expressions

In [15]:
# Function to add numbers
def add(a,b):
    return a+b
add(513,905)

1418

In [17]:
# Lambda to add numbers
add_lam = lambda a,b: a+b
add_lam(533,242)

775

In [19]:
# Raise a number to a power 
x_power_y = lambda x, y:x**y
x_power_y(12,5)

248832

In [25]:
# Lambda with lists
num = [1,2,3,4,5,6]
#Filter even numbers 
even_num = list(filter(lambda x: x%2 == 0, num))
print(even_num)

[2, 4, 6]

In [29]:
#Filter odd numbers
odd_num = list(filter(lambda x: x%2 == 1, num))
print(odd_num)

[1, 3, 5]

In [35]:
# Add two lists
num1 = [1,2,3]
num2 = [4,5,6]
# Add them
total = map(lambda x,y: x+y, num1,num2)
print(list(total))

[5, 7, 9]

In [37]:
# Square a list
num = [4,5,2,9]
square = map(lambda x: x**2, num)
print(list(square))

[16, 25, 4, 81]

In [41]:
# lambda with Strings
rep_word = lambda word, repeat:word*repeat
santa = rep_word('Ho ',3)
santa

'Ho Ho Ho '

## Use lambda with Birth Data

In [48]:
birth.head()

,fage,mage,mature,weeks,premie,visits,marital,gained,weight,lowbirthweight,gender,habit,whitemom
0,NaN,13,younger mom,39.0,full term,10.0,married,38.0,7.63,not low,male,nonsmoker,not white
1,NaN,14,younger mom,42.0,full term,15.0,married,20.0,7.88,not low,male,nonsmoker,not white
2,19.0,15,younger mom,37.0,full term,11.0,married,38.0,6.63,not low,female,nonsmoker,white
3,21.0,15,younger mom,41.0,full term,6.0,married,34.0,8.00,not low,male,nonsmoker,white
4,NaN,15,younger mom,39.0,full term,9.0,married,27.0,6.38,not low,female,nonsmoker,not white

In [56]:
# Split babies' weights into 2 groups: born to smokers vs non smokers
smoker = birth[birth['habit'] == 'smoker']
nonsmoker = birth[birth['habit'] == 'nonsmoker']
smoker
nonsmoker

,fage,mage,mature,weeks,premie,visits,marital,gained,weight,lowbirthweight,gender,habit,whitemom
0,NaN,13,younger mom,39.0,full term,10.0,married,38.0,7.63,not low,male,nonsmoker,not white
1,NaN,14,younger mom,42.0,full term,15.0,married,20.0,7.88,not low,male,nonsmoker,not white
2,19.0,15,younger mom,37.0,full term,11.0,married,38.0,6.63,not low,female,nonsmoker,white
3,21.0,15,younger mom,41.0,full term,6.0,married,34.0,8.00,not low,male,nonsmoker,white
4,NaN,15,younger mom,39.0,full term,9.0,married,27.0,6.38,not low,female,nonsmoker,not white
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,47.0,42,mature mom,40.0,full term,10.0,not married,26.0,8.44,not low,male,nonsmoker,not white
996,34.0,42,mature mom,38.0,full term,18.0,not married,20.0,6.19,not low,female,nonsmoker,white
997,39.0,45,mature mom,40.0,full term,15.0,not married,32.0,6.94,not low,female,nonsmoker,white
998,55.0,46,mature mom,31.0,premie,8.0,not married,25.0,4.56,low,female,nonsmoker,not white
999,45.0,50,mature mom,39.0,full term,14.0,not married,23.0,7.13,not low,female,nonsmoker,white

In [60]:
# Use lambda to split babies' weights: born to smokers vs nonsmokers
split_smoke = birth.groupby('habit')['weight']
# Convert into list
split_smoke = split_smoke.apply(lambda x: list(x))
split_smoke

habit
nonsmoker    [7.63, 7.88, 6.63, 8.0, 6.38, 5.38, 8.44, 4.69...
smoker       [7.56, 6.88, 5.81, 7.44, 7.06, 8.06, 7.44, 7.8...
Name: weight, dtype: object

In [66]:
# Write above into just one line
split_smoke = birth.groupby('habit')['weight'].apply(lambda x:list(x))
split_smoke

habit
nonsmoker    [7.63, 7.88, 6.63, 8.0, 6.38, 5.38, 8.44, 4.69...
smoker       [7.56, 6.88, 5.81, 7.44, 7.06, 8.06, 7.44, 7.8...
Name: weight, dtype: object

In [68]:
# Split babies' weights into male and female
split_gender = birth.groupby('gender')['weight'].apply(lambda x:list(x))
split_gender

gender
female    [6.63, 6.38, 6.94, 8.81, 6.0, 7.13, 7.56, 5.81...
male      [7.63, 7.88, 8.0, 5.38, 8.44, 4.69, 8.81, 7.44...
Name: weight, dtype: object