In [2]:
import os
path = os.getcwd()
print(path)

/Users/kush/Python

In [4]:
# Import necessary packages
import numpy as np
import pandas as pd

In [10]:
# Import data; I store my data in the folder "Data", so I have to add it to the path
data = pd.read_csv("/Users/kush/Data/StudentSurvey.csv")
data.head()

,year,sex,gender_ident,age,Ethnicity,Country,State,GPA,SAT,HSGPA,...,q67,q68,q69,q70,q71,q72,q73,q74,q75,q76
0,5,Male,Male,22,More than one race.,Costa Rica,INT,3.5,31,3.49,...,Yes,10000,25.0,3.0,0.0,Off,3,4,20,9.0
1,5,Male,Male,22,More than one race.,United States,WASHINGTON,3.35,1340,3.9,...,Yes,20000,12.0,2.0,12000.0,On,7,3,12,10.0
2,Senior,Male,Male,22,Asian,India,Maharashtra,3.3,1400,3.3,...,Yes,"$5,000",6.0,3.0,0.0,Off,1,2,2 /month\n\n8,7.0
3,4,Female,Female,21,Asian,United States,Georgia,3.6,1540,4,...,Yes,2000,2.0,2.0,10000.0,Off,7,1,2,1.0
4,3,Male,Male,23,Asian,Korea,INT,3.5,1360,3.7,...,Yes,20000,16.0,3.0,0.0,Off,0,0,10,5.0

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 76 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          100 non-null    object
 1   sex           101 non-null    object
 2   gender_ident  101 non-null    object
 3   age           100 non-null    object
 4   Ethnicity     101 non-null    object
 5   Country       100 non-null    object
 6   State         100 non-null    object
 7   GPA           100 non-null    object
 8   SAT           98 non-null     object
 9   HSGPA         99 non-null     object
 10  Income        101 non-null    object
 11  Siblings      100 non-null    float64
 12  BirthOrder    97 non-null     object
 13  Major         100 non-null    object
 14  q15           98 non-null     object
 15  q16           101 non-null    object
 16  q17           100 non-null    float64
 17  q18           100 non-null    float64
 18  q19           100 non-null    float64
 19  q20           100 non-null    object
 20  q21           100 non-null    object
 21  q22           100 non-null    object
 22  q23           100 non-null    object
 23  q24           100 non-null    object
 24  q25           100 non-null    object
 25  q26           100 non-null    object
 26  q27           100 non-null    object
 27  q28           100 non-null    object
 28  q29           100 non-null    object
 29  q30           100 non-null    object
 30  q31           100 non-null    object
 31  q32           100 non-null    float64
 32  q33           100 non-null    float64
 33  q34           100 non-null    object
 34  q35           100 non-null    object
 35  q36           99 non-null     object
 36  q37           100 non-null    object
 37  q38           100 non-null    float64
 38  q39           101 non-null    int64
 39  q40           101 non-null    int64
 40  q41           100 non-null    float64
 41  q42           101 non-null    int64
 42  q43           100 non-null    object
 43  q44           101 non-null    int64
 44  q45           101 non-null    int64
 45  q46           101 non-null    int64
 46  q47           101 non-null    int64
 47  q48           100 non-null    object
 48  q49           100 non-null    object
 49  q50           100 non-null    object
 50  q51           101 non-null    object
 51  q52           100 non-null    object
 52  q53           100 non-null    object
 53  q54           101 non-null    int64
 54  q55           100 non-null    object
 55  q56           100 non-null    float64
 56  q57           101 non-null    object
 57  q58           100 non-null    object
 58  q59           100 non-null    object
 59  q60           101 non-null    object
 60  q61           100 non-null    object
 61  q62           100 non-null    float64
 62  q63           101 non-null    object
 63  q64           101 non-null    object
 64  q65           101 non-null    object
 65  q66           101 non-null    object
 66  q67           101 non-null    object
 67  q68           100 non-null    object
 68  q69           100 non-null    float64
 69  q70           100 non-null    float64
 70  q71           100 non-null    float64
 71  q72           101 non-null    object
 72  q73           101 non-null    int64
 73  q74           101 non-null    int64
 74  q75           100 non-null    object
 75  q76           100 non-null    float64
dtypes: float64(14), int64(10), object(52)
memory usage: 60.1+ KB

# Replace Values
- value_counts()
- replace()
- astype()

In [16]:
### Variable : age 
# Inspect Variable 
data['age'].value_counts(dropna=False)

age
20                37
19                24
21                21
18                 4
22                 3
23                 2
22                 1
 23                1
24                 1
 21                1
 20                1
21                 1
18  y              1
19                 1
19 years old.      1
NaN                1
Name: count, dtype: int64

In [28]:
# Remove spaces 
data['age'] = data['age'].str.strip()
# Replace "18 y"
data['age'] = data['age'].replace('18  y','18')
# Replace "19 years old"
data['age'] = data['age'].replace('19 years old.','19')
# Check 
data['age'].value_counts(dropna = False)

age
20     38
19     26
21     23
18      5
22      4
23      3
24      1
NaN     1
Name: count, dtype: int64

In [32]:
# Convert variable from string to float
data['age'] = data['age'].astype('float')
data['age'].dtypes

dtype('float64')

In [34]:
### Variable: GPA
# Inspect
data['GPA'].value_counts(dropna=False)

GPA
3.7                                     13
3.5                                     10
3.6                                      8
3.8                                      7
4                                        7
3.9                                      5
3.97                                     4
3.76                                     2
3                                        2
3.95                                     2
3.4                                      2
3.92                                     2
3.65                                     2
3.83                                     2
3.87                                     2
3.3                                      2
3.906                                    1
3.93                                     1
3.29                                     1
3.5                                      1
3.96                                     1
3,94                                     1
3.41                                     1
3.82                                     1
3.85                                     1
3.86                                     1
NaN                                      1
3.786                                    1
3,85                                     1
2.5                                      1
3.69                                     1
3.3, 3.98                                1
3.53                                     1
3.35                                     1
3.99                                     1
3.94                                     1
2.89                                     1
3.1                                      1
3.73                                     1
3.2                                      1
2.7                                      1
3,1                                      1
2.93                                     1
3.76\n\nDon't have a high school GPA     1
3.78                                     1
Name: count, dtype: int64

In [54]:
#Replace "3.3, 3.98"
data['GPA'] = data['GPA'].replace('3.3, 3.98','3.64')
# Check 
data['GPA'].value_counts(dropna = False)
#Replace "," with a "."
# Because ',' is within strings, to replace, we need to add "regex=True"
# Safe to add in most cases
data['GPA'] = data['GPA'].replace(',','.', regex=True)
# Check 
data['GPA'].value_counts(dropna = False)

data['GPA'] = data['GPA'].replace("3.76\n\nDon't have a high school GPA","3.76", regex=True)
# Check 
data['GPA'].value_counts(dropna = False)

GPA
3.7      13
3.5      10
3.6       8
3.8       7
4         7
3.9       5
3.97      4
3.76      3
3.92      2
3.87      2
3.95      2
3.83      2
3         2
3.94      2
3.85      2
3.65      2
3.1       2
3.4       2
3.3       2
NaN       1
3.5       1
3.96      1
3.82      1
3.41      1
3.29      1
3.93      1
3.86      1
3.786     1
2.5       1
3.906     1
3.69      1
3.64      1
3.53      1
3.35      1
3.99      1
2.89      1
3.73      1
3.2       1
2.7       1
2.93      1
3.78      1
Name: count, dtype: int64

In [56]:
# Convert variable from string to float
data['GPA'] = data['GPA'].astype('float')
data['GPA'].dtypes

dtype('float64')

### Drop Observations 
- Some observations do not make sence 
- Restrict sample according to some criteria

In [69]:
### Variable: q29 - hours of sleep a day
# Inspect
data['q29'].value_counts(dropna=False)

q29
7         40
6         24
8         21
5          5
9          4
4          1
10         1
10-Jun     1
6.5        1
7.5        1
8.5        1
NaN        1
Name: count, dtype: int64

In [73]:
# Drop '10-Jun' observation 
strange = data[data['q29']=='10-Jun']
data = data.drop(strange.index)
# Check 
data['q29'].value_counts(dropna=False)

q29
7      40
6      24
8      21
5       5
9       4
4       1
10      1
6.5     1
7.5     1
8.5     1
NaN     1
Name: count, dtype: int64

In [75]:
# Inspect 
data['q70'].value_counts=False